body {
	margin: 0 auto;
	max-width: 70em;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	
}

h1{
	text-align: center;
	color: white;
}
header{
	border-radius: 10px 10px;
	background-image: linear-gradient(to right,  blue , pink);
	display: flex;
	flex-direction: column;
	height: 15em;
	width: 35em;
	justify-content: space-around;
	margin-left: 25em;
	margin-top: 20px;
}
div{
	border-radius: 10px 10px;
	background-image: linear-gradient(to right,  blue , pink);
	display: flex;
	flex-direction: column;
	height: 15em;
	width: 35em;
	justify-content: space-around;
	margin-left: 25em;
	margin-top: 20px;
}
a{
	color: blue;
	text-decoration: none;
	text-align: center;
}
a:hover{
	color:yellow;
    text-decoration: underline;

}
