body {
	margin: 0 auto;
	max-width: 70em;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	
}
.efri{
	border-radius: 10px 10px;
	background-image: linear-gradient(to right,  blue , pink);
	display: flex;
	flex-direction: column;
	height: 15em;
	width: 30em;
	justify-content: space-around;
	margin-left: 25em;
	margin-top: 20px;

}
.mid{
	border-radius: 10px 10px;
	background-image: linear-gradient(to right, blue, pink);
	display: flex;
	flex-direction: column;
	height: 15em;
	width: 30em;
	justify-content: space-around;
	margin-left: 25em;
	margin-top: 20px;

}

.nedri{
	border-radius: 10px 10px;
	background-image: linear-gradient(to right, blue, pink);
	display: flex;
	flex-direction: column;
	height: 15em;
	width: 30em;
	justify-content: space-around;
	margin-left: 25em;
	margin-top: 20px;

}
h3{
	text-align: center;
	color: white;
}

form{
	text-align: center;
	font-family: 'monospace',Lucida Console, sans-serif;
	color: white;


}
input{
	background-color: white;
	color: blue;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
}
input:hover{
	background-color: darkgray;
	color:yellow;
    text-decoration: underline;

}

a{
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	margin-top: 10px;
}
a:hover{
	color:yellow;
    text-decoration: underline;

}

